<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossier</title>
</head>
<body>
    <header>
        <h1>Glossier</h1>
    </header>
    <div>
        <h2>Productos Glossier</h2>
        <ul>
            <li><a href="{ % url 'productos''balsamo' % }">balsamo:</a><p>labial hidratante</p></li>
            <li><a href="{ % url 'productos''serum' % }">serum:</a><p>Serum facial</p></li>
            <li><a href="{ % url 'productos''mascara' % }">mascara:</a><p>Mascara de ojos</p></li>
        </ul>
    </div>